version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: censudex_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  products:
    build: .
    container_name: censudex_products
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/censudex_products
      - PORT=3001
    ports:
      - "3001:3001"
    volumes:
      - .:/app
    command: npm run dev

volumes:
  mongo_data:
